config.php
sftp-config.json
bodega
.git

radicacion/stickerWeb/logoEntidad.png
logoEntidad.jpg
logoEntidad.png
logoEntidad_negro.png
logoEntidad_negro_pdf.jpg
instalacion/files/
estilos/orfeo50/header.css
estilos/orfeo50/imagenes50/logoEntidad.png
estilos/orfeo50/imagenes50/logoEntidad1.png
estilos/orfeo50/imagenes50/logoEntidad2.png
estilos/orfeo50/imagenes50/logoEntidad_2.png

instalacion/files/base_datos.sql
instalacion/files/clientes.csv
instalacion/files/logo_cliente.jpg
instalacion/files/usuarios_masiva.csv
radicacion/stickerWeb/logoEntidad_vertical.jpg

.htaccess
estilos/orfeo50/imagenes50/logoEntidad_blanco.png
logoEntidad_blanco.png

estilos/orfeo50/header.css
estilos/orfeo50/imagenes50/logoEntidad.png
estilos/orfeo50/login.css
logoEntidad.jpg
logoEntidad.png
radicacion/stickerWeb/logoEntidad.png
